:root {
  --white: white;
  --black: black;
}

.text-bold-7vw {
  font-size: 7vw;
  font-weight: 700;
  line-height: 1.2em;
  position: absolute;
  bottom: 25vh;
  left: 19vw;
}

.text-regular-40 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.35em;
}

.button {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  color: #fff;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: absolute;
  bottom: 15vh;
  right: 24vw;
}

.line {
  background-color: #fff;
  width: 56px;
  height: 2px;
}

.project {
  position: relative;
}

.project.project-two {
  position: static;
}

.body {
  color: #fff;
  background-color: #000;
  padding-top: 100vh;
  padding-bottom: 100vh;
}

.project-image {
  opacity: .4;
  width: 66vw;
  height: 80vh;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.section {
  background-color: #c5a5a5;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.lottie-animation {
  width: 30vw;
}
